<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
  <script src="/js/jquery-1.4.2.min.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    io.setPath('/socket.io/');
  </script>

  <script src="/js/helpers.js"></script>
  <script src="/js/analytics.js"></script>

  <script src="/js/websocket.js"></script>
  <script src="/js/weekly.js"></script>

  <title><%= app.set('name') %></title>

  <link rel="stylesheet" media="all" href="/css/main.css" />
  <link rel="stylesheet" media="all" href="/css/weekly.css" />
</head>

<body>
  <%- body %>
</body>
</html>
