<div id="login">
  <div class="logo"></div>
  <h1>Hummingbird</h1>

  <form action="/login" method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username"/>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password"/>
    </div>

    <input id="submit" type="submit" value="Login">
  </form>
</div>
