  <h1><%= app.set('name') %></h1>

  <div id="days"></div>

  <div id="day_template" class="day">

    <div class="all_views_container">
      <div class="all_views">0</div>
      <p>Page views</p>
    </div>

    <div class="date_title"></div>

    <div style="clear: both;"></div>
  </div>

  <script>
    $(document).ready(function() {
      var hummingSocket = new Hummingbird.WebSocket.Weekly();
      hummingSocket.start();

      Hummingbird.Weekly.init();
    });

  </script>
