@charset "utf-8";

body {
  background: #211d29 url(../images/header-bg.png);
  font-family: "Lucida Grande", Helvetica, sans-serif;
  margin: 0;
}

div.topbar {
  position: relative;
  height: 89px;
  padding: 10px;
  border-bottom: 1px solid #515d69;
}

div.topbar div.header h1 {
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 0 2px 0 #000;
  margin: 0;
  font-family: 'TitilliumText14L800wt', sans-serif;
}

div.topbar div.header div.tagline {
  color: #918e97;
  font-style: italic;
  font-family: Georgia, sans-serif;
  font-size: 12px;
  margin: 0 0 13px 3px;
}

div.topbar #total {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 275px;
}

div.topbar #total div.graph {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 40px;
  float: none;
  width: auto;
}

div.topbar #total div.axis_left { display: none; }
div.topbar #total div.axis_right {
  float: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  font-size: 10px;
}

h2.graph_title {
  color: #CCC;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 0.2em;
  margin-left: 58px;
}

div.hummingbird_graph div.graph {
  float: left;
  padding: 14px 0 20px 0;
  color: #F00;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  width: 760px;
  display: block;
}

div.hummingbird_graph div.axis_left,
div.hummingbird_graph div.axis_right {
  float: left;
  line-height: 1em;
  color: #FFF;
  opacity: 0.3;
  font-weight: bold;
  font-size: 0.8em;
  width: 30px;
  position: relative;
  top: -5px;
}

div.hummingbird_graph div.axis_left {
  padding: 0 5px 0 25px;
  text-align: right;
}

div.hummingbird_graph div.axis_right {
  padding: 0 10px;
}

#hummingbird_cart_adds div.axis_left,
#hummingbird_cart_adds div.axis_right {
  line-height: 0.3em;
}

div.graph div.line {
  float: right;
  height: 1px;
  width: 3px;
  border-top: 99px solid #00F;
  margin: 0 0 100px 3px;
  background-color: #F00;
}

/* Fonts */

@font-face {
	font-family: 'TitilliumText14L800wt';
	src: url('../fonts/TitilliumText800wt.eot');
	src: local('TitilliumText14L'), local('TitilliumText14L-800wt'), url('../fonts/TitilliumText800wt.woff') format('woff'), url('../fonts/TitilliumText800wt.ttf') format('truetype'), url('../fonts/TitilliumText800wt.svg#TitilliumText14L-800wt') format('svg');
}
