@charset "utf-8";

body {
  background-color: #2F2C2B;
  font-family: "Lucida Grande", Helvetica, sans-serif;
}

h1 {
  color: #FFF;
  text-transform: uppercase;
  font-family: 'TitilliumText14L800wt', sans-serif;
  margin-left: 58px;
}

div.hummingbird_graph h2 {
  color: #CCC;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 0.2em;
  margin-left: 58px;
}

div.hummingbird_graph canvas {
  float: left;
  padding: 14px 0 20px 0;
  color: #F00;
  font-weight: bold;
}

div.hummingbird_graph div.axis_left,
div.hummingbird_graph div.axis_right {
  float: left;
  line-height: 1em;
  color: #FFF;
  opacity: 0.3;
  font-weight: bold;
  font-size: 0.8em;
  width: 30px;
  position: relative;
  top: -5px;
}

div.hummingbird_graph div.axis_left {
  padding: 0 15px;
  text-align: right;
}

div.hummingbird_graph div.axis_right {
  padding: 0 10px;
}

#hummingbird_cart_adds div.axis_left,
#hummingbird_cart_adds div.axis_right {
  line-height: 0.3em;
}

#sales {
  margin-left: 60px;
}

#sales div.sale {
  float: left;
  width: 180px;
  height: 100px;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

#sales div.sale div.hummingbird_graph {
  position: absolute;
  top: -6px;
  left: 10px;
  width: 180px;
}

#sales div.sale div.hummingbird_graph div.req_s {
  position: absolute;
  top: 15px;
  left: -10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  font-weight: bold;
  padding: 5px;
  font-size: 0.6em;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

#sales div.sale img {
  opacity: 0.5;
}

#sales div.sale div.axis_right {
  float: left;
}

#sales div.sale div.axis_left {
  display: none;
}

#sales div.sale h2 {
  color: #CCC;
  font-size: 0.7em;
  height: 2.4em;
  overflow: hidden;
}

#sales div.sale img.editorial {
  width: 180px;
}


#login div.logo {
  background: url(/public/images/logo.png) top left no-repeat;
  width: 300px;
  height: 324px;
  margin: auto;
  padding-right: 50px;
}

#login h1 {
  margin: 0;
}

#login form {
  margin: auto;
}

#login form label,
#login form input {
  display: block;
  width: 150px;
  margin: auto;
}

#login form label {
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: 2px;
}

#login form div {
  margin-top: 10px;
}

#login form #submit {
  margin-top: 15px;
}

#login {
  margin: auto;
  text-align: center;
}

/* Fonts */

@font-face {
	font-family: 'TitilliumText14L800wt';
	src: url('/public/fonts/TitilliumText800wt.eot');
	src: local('TitilliumText14L'), local('TitilliumText14L-800wt'), url('/public/fonts/TitilliumText800wt.woff') format('woff'), url('/public/fonts/TitilliumText800wt.ttf') format('truetype'), url('/public/fonts/TitilliumText800wt.svg#TitilliumText14L-800wt') format('svg');
}
