@charset "utf-8";

body {
  background: #211d29 url(../images/header-bg.png);
  font-family: "Lucida Grande", Helvetica, sans-serif;
  margin: 0;
}

div.topbar {
  position: relative;
  height: 89px;
  padding: 10px;
  border-bottom: 1px solid #515d69;
}

div.topbar div.header h1 {
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 0 2px 0 #000;
  margin: 0;
  font-family: 'TitilliumText14L800wt', sans-serif;
}

div.topbar div.header div.tagline {
  color: #918e97;
  font-style: italic;
  font-family: Georgia, sans-serif;
  font-size: 12px;
  margin: 0 0 13px 3px;
}

div.topbar #total {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 275px;
}

div.hummingbird_graph {
  position: relative;
}

div.hummingbird_graph div.graph {
  margin-right: 40px;
  float: none;
  width: auto;

  padding: 14px 0 20px 0;
  color: #F00;
  font-weight: bold;
  overflow: hidden;
  display: block;
}

div.hummingbird_graph div.axis_right {
  position: absolute;
  top: 0;
  right: 0;

  line-height: 1em;
  color: #FFF;
  opacity: 0.5;
  font-weight: bold;
  font-size: 10px;
  width: 30px;
}

div.hummingbird_graph div.axis_time {
   margin: -14px 40px 0 0;
   height: 14px;
}

div.hummingbird_graph div.axis_time div.tick {
   position: absolute;
   right: 0px;
   margin-right: 17px;
   width: 50px;
   text-align: center;
   color: #FFF;
   font-size: 9px;
}

div.graph div.line {
  float: right;
  height: 1px;
  width: 3px;
  border-top: 99px solid #00F;
  margin: 0 0 100px 3px;
  background-color: #F00;
}

/* Fonts */

@font-face {
	font-family: 'TitilliumText14L800wt';
	src: url('../fonts/TitilliumText800wt.eot');
	src: local('TitilliumText14L'), local('TitilliumText14L-800wt'), url('../fonts/TitilliumText800wt.woff') format('woff'), url('../fonts/TitilliumText800wt.ttf') format('truetype'), url('../fonts/TitilliumText800wt.svg#TitilliumText14L-800wt') format('svg');
}
