{
  "name" : "Hummingbird",

  "tracking_port" : 8000,
  "dashboard_port" : 8080,

  "enable_dashboard" : true,

  "capistrano" : {
    "repository" :       "git://github.com/mnutt/hummingbird.git",
    "hummingbird_host" : "hummingbird.your-host.com"
  }
}
